* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-weight: 600;
    color: #222;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: wheat;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    text-align: center;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

#book h2 {
    text-align: center;
    margin-top: 20px;
}

.container {
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
}

.right, .left {
    padding: 3%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}